body { background: #d2a34f; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 30px; display: flex; }
.block-cart-0 { color: #63ee83; font-size: 18px; margin-bottom: 5px; }
.block-email-1 { color: #3737ee; font-size: 14px; margin-bottom: 5px; }
.block-config-2 { color: #701edb; font-size: 16px; margin-bottom: 5px; }
.block-config-3 { color: #4a292c; font-size: 14px; margin-bottom: 5px; }
.block-cluster-4 { color: #43c62f; font-size: 21px; margin-bottom: 5px; }
.block-email-5 { color: #f87fb2; font-size: 14px; margin-bottom: 5px; }